<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  

  

</head>

<body class="bg">

  <!-- Navigation -->


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 text-center">
      <h1 class="display-3">Settings</h1>

      
      <!-- <a href="#" class="btn btn-primary btn-lg">Call to action!</a> -->
    </header> 

    <!-- Page Features -->
    <div class="row text-center justify-content-center align-items-center container">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.ibb.co/dtKtCHL/4.png/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">User Registeration</h4>
            <p class="card-text">Manage User Registeration</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="onCreateUserClick()"> Create User  </button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.ibb.co/m5DfBPP/5.png/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Create Light</h4>
            <p class="card-text">Manage light creation</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="onCreateLightClick()"> Create Light  </button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.ibb.co/d2pX0k8/9.jpg/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Create Groups</h4>
            <p class="card-text">Manage Groups creation</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="onCreateGroupLClick()"> Create Group  </button>
          </div>
        </div>
      </div>

      

     
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
     
    </div>
   
  </footer> -->

</body>



</html>
<!-- <router-outlet></router-outlet> -->