<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  

  

</head>

<body class="bg">

  <!-- Navigation -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Digitectura Technologies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 text-center">
      <h1 class="display-3"> Welcome</h1>

      <p class="lead">Logged In as Administrator</p>
      <!-- <a href="#" class="btn btn-primary btn-lg">Call to action!</a> -->
    </header> 

    <!-- Page Features -->
    <div class="row text-center  justify-content-center align-items-center container">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.ibb.co/3sRyQvc/1.jpg/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Settings</h4>
            <p class="card-text">Manage Users,Lights and Groups</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="settingsClick()">  Settings </button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.ibb.co/m5DfBPP/5.png/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Lightings</h4>
            <p class="card-text">Manage Office Lighting</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary " (click)="lightingClick()">  Light Dashboard  </button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://i.ibb.co/d2pX0k8/9.jpg/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Groups</h4>
            <p class="card-text">Manage Office Groups</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="groupClick()"> Group Dashboard  </button>
          </div>
        </div>
      </div>

     
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
     
    </div>
    
  </footer> -->

  

</body>

</html>
<!-- <router-outlet></router-outlet> -->